@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    @apply flex items-center justify-center;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    background-color: #1a202c;
    display: flex;
}

body {
    overflow: hidden;
    /* Add this line to disable the vertical scroll bar */
}

.input-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-containers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-container {
    flex: 1;
    height: 90%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    background-color: #2d3748;
}

.left {
    border-right: 2px solid #4a5568;
    width: 800px;
    margin-right: 10px;
}

.right {
    display: flex;
    flex-direction: column;
}

.copy-button-placement {
    position: relative;
}

.copy-button-placement textarea {
    width: 100%;
    height: 37.8vh;
    padding-right: 40px;
}

.input-field {
    flex: 1;
    width: 100%;
    padding: 8px;
    border: 1px solid #4a5568;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
    text-align: left;
    overflow: auto;
    background-color: #4a5568;
}

.prefix-field {
    border: 1px solid #4a5568;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
    text-align: left;
    overflow: auto;
    background-color: #4a5568;
}

.prefix-field::placeholder {
    padding-left: 10px; 
  }

.button-container {
    margin-bottom: 30px;
}

.process-button {
    @apply px-4 py-2 rounded-md bg-blue-500 text-white hover:bg-blue-600;
}

.flex {
    display: flex;
}

.sidebar {
    width: 21vh;
    /* Adjust this value to set the width of the sidebar */
    background-color: #1a202c;
    /* Replace this with your desired background color */
    color: white;
    /* Replace this with your desired text color */
    box-sizing: border-box;
    position: fixed;
    /* Add this line to make the sidebar fixed */
    top: 0;
    /* Add this line to position the sidebar at the top */
    left: 0;
    /* Add this line to position the sidebar on the left */
    height: 100vh;
    /* Add this line to make the sidebar take the full height of the viewport */
}

.container {
    display: flex;
    flex: 1;
    /* Remove the following line to make the container take the full width */
    /* margin-left: 21vh; */
    background-color: #1a202c;
    /* Replace this with your desired background color for the page content */
}

.content {
    flex: 1;
    padding: 20px;
    /* Add this line to leave space for the fixed sidebar */
    margin-left: 21vh;
}

.home {
    /* Use the following styles to make the content fill the whole page */
    height: 100vh;
    /* Make the content take the full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* Add some padding for spacing */
}

.logo {
    width: 220px;
    /* Update the width to your desired value */
    height: 220px;
    /* Update the height to your desired value */
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
